<div class="layui-fluid layui-anim febs-anim" id="febs-attendance" lay-title="考勤管理">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form check-form" action="" lay-filter="febs-form-elements">
                        <div class="layui-row">
                            <div class="layui-form-item">
                                <label class="layui-form-label">展示列：</label>
                                <div class="layui-input-block displayCol">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md9 adv-info">
                                    <div class="layui-inline pos-item">
                                        <label class="layui-form-label layui-form-label-sm">创建时间</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="createTime" id="attend-createTime" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline pos-item">
                                        <label class="layui-form-label layui-form-label-sm">部门</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="attendept" id="attendept" lay-filter="attendept"
                                                   class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline pos-item">
                                        <label class="layui-form-label layui-form-label-sm">职位</label>
                                        <div class="layui-input-inline" lay-filter="position">
                                            <select name="position" id="position">
                                            </select>
                                        </div>
                                    </div>
                            </div>
                            <div class="layui-col-md3">
                                <div class="layui-inline pos-btns">
                                    <button class="layui-btn" lay-submit lay-filter="febs-form-elements">生成考勤报表</button>
                                    <button class="layui-btn" id="daochu">导出Excel</button>
                                    <button type="reset" class="layui-btn layui-btn-primary" id="reset">重置</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="attendTable" lay-data="{id: 'attendTable'}" id="tables"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script data-th-inline="none" type="text/javascript">
    layui.use(['jquery', 'laydate', 'form', 'table', 'febs', 'treeSelect'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            treeSelect = layui.treeSelect,
            $view = $('#febs-attendance'),
            $reset = $view.find('#reset'),
            $daochu = $view.find('#daochu'),
            $searchForm = $view.find('form'),
            urls= 'http://172.16.19.24:8080',
            postData = {},
            tableData = [],
            positionTxt,
            createTimeFrom,
            createTimeTo,
            loading;


        var colData = [
            {type: 'checkbox'},
            {field: 'name', title: '姓名', align:'center', width: 100},
            {field: 'duty',  title: '职位', align:'center', width: 200},
            ];
        var addColData = [];


        getTableData();
        // 日期
        laydate.render({
            elem: '#attend-createTime',
            range: true,
            trigger: 'click'
        });

        // 初始化表格，获取表头字段
        function getTableData(){
            $.ajax({
                type: "get",
                url: urls+"/reportForm/displayFields",
                contentType: "application/json;charset=utf-8",
                beforeSend: function (XMLHttpRequest) {
                    XMLHttpRequest.setRequestHeader("token", "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIxOD.....");
                },
                success: function (res) {
                     console.log(res);
                    res.forEach(item => {
                        let obj = {};
                        obj.field = item.alias;
                        obj.title = item.name;
                        obj.align = 'center'
                        obj.width = 140;
                        colData.push(obj);
                    })
                    addColData = colData;
                    console.log(colData);
                    initTable();
                    displayColData(res);
                },
            })
        }
        // 表格初始化
        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'attendTable',
                loading: true,
                cols: [colData],
                data: tableData,
            });
        }
        // 头部展示列的显示
        function displayColData(arr){
            for (let i = 0; i < arr.length; i++) {
                var temp = `<input type="checkbox" name="functional" title=${arr[i].name} value=${arr[i].alias} lay-skin="primary" checked>`;
                $(".displayCol").append(temp);
            }
            form.render();
        }

        // 部门数据渲染
        treeSelect.render({
            elem: $view.find('#attendept'),
            type: 'get',
            data: urls+'/reportForm/departmentTree',
            placeholder: '请选择',
            search: false,
            click: function (d) {
                var deptId = [];
                deptId.push(d.current.id)
                // 通过部门id，获取职位数据
                $.ajax({
                    type:'post',
                    url:urls+'/reportForm/positionListByDept?departmentIds='+ deptId,
                    async:true,
                    success:function(datas){
                        if(datas.length > 0){
                            var selects = '<option value="0">请选择</option>';
                            for(var i=0;i<datas.length;i++){
                                //循环获取返回值，并组装成html代码
                                var option = '<option value=" ' + (i+1) + '">' + datas[i] + '</option>';
                                selects += option;
                            }
                        }else{
                            var option = '<option value="0">请选择</option>';  //默认值
                        }
                        $("#position").empty("");
                        $("#position").append(selects);
                        form.render();
                    },
                });
            }
        })

        // 发送请求，获取考勤报表
        function send(postData){
            $.ajax({
                type: "POST",
                url: urls+"/reportForm/openForm",
                traditional: true,
                data: JSON.stringify(postData),
                contentType: "application/json;charset=utf-8",
                beforeSend: function (XMLHttpRequest) {
                    XMLHttpRequest.setRequestHeader("token", "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIxOD.....");
                },
                success: function (res) {
                    tableData = res.data;
                    tableIns.reload({cols: [colData], data: tableData});
                    if(res.data.length == 0){
                        layer.msg('暂时无数据!', {icon: 2});
                    }
                    layer.close(loading);
                },
                error:function(err){
                    //失败之后执行（我不管，失败别找我i）
                    alert("数据不存在")

                }
            })
        }

        // 考勤报表点击事件
        form.on('submit(febs-form-elements)', function(data){
            console.log(data);
            if(!data.field.createTime){
                layer.msg('时间不能为空！', {icon: 6});
            }else if(!data.field.attendept){
                layer.msg('请选择部门！', {icon: 6});
            }else{
                var str = JSON.stringify(data.field);
                var json = eval('('+str+')');
                var departId = [];
                createTimeFrom = json.createTime.split(' - ')[0] + ' 00:00:00';
                createTimeTo = json.createTime.split(' - ')[1] + ' 23:59:59';
                departId.push(json.attendept);

                // 要传的参数
                postData.startDate = createTimeFrom;
                postData.endDate = createTimeTo;
                postData.departmentIds = departId;
                if( $("#position").find("option:selected").text() == '请选择' ){
                    positionTxt = '';
                }else{
                    positionTxt = $("#position").find("option:selected").text();
                }
                console.log(positionTxt);
                postData.position = positionTxt;
                console.log(postData);
                send(postData);
                loading = layer.load(2);
            }
            return false;
        })


        // 复选框事件监听，控制表头的显示
        form.on('checkbox', function(data){
            console.log(data.value);
            if(data.elem.checked){
                addColData.forEach((item) => {
                    if(item.field == data.value){
                        item.hide = false;
                    }
                })
            }else{
                addColData.forEach((item) => {
                    if(item.field == data.value){
                        item.hide = true;
                    }
                })
            }
            tableIns.reload({cols: [addColData], data: tableData});
            form.render();
        });

        // 获取选中的复选框title
        var checkArr = [];
        function getCheck() {
            debugger;
            var groupCheck = Array.from($("input[name='functional']"));
            groupCheck.forEach(item => {
                if(item.checked){
                    checkArr.push(item.title);
                }
            })
            postData.includeColumn = checkArr;
            console.log(postData, '----------------');
        }

        // 导出报表
        $daochu.on('click', function () {
            var departIdArr = [];
            var times = $("input[name='createTime']").val();
            var deptNum = $("input[name='attendept']").val();
            var posTxt = $("#position").find("option:selected").text() == '请选择' ? '' : $("#position").find("option:selected").text();
            if(!times){
                layer.msg('时间不能为空！', {icon: 6});
                return false;
            }else if(!deptNum){
                layer.msg('请选择部门！', {icon: 6});
                return false;
            }

            createTimeFrom = times.split(' - ')[0] + ' 00:00:00';
            createTimeTo = times.split(' - ')[1] + ' 23:59:59';
            departIdArr.push(deptNum);
            console.log($("#position").find("option:selected").text());

            getCheck();
            debugger;
            var getUrl = urls + '/reportForm/exportForm';
            var xhr = new XMLHttpRequest();
            xhr.open('POST', getUrl, true);
            xhr.responseType = "blob";
            xhr.onload = function () {
                debugger;
                if (this.response) {
                    var blob = this.response;
                    var reader = new FileReader();
                    reader.readAsDataURL(blob);
                    reader.onload = function (e) {
                        var link = document.createElement('a');
                        link.style.display = 'none';
                        link.href = e.target.result;
                        link.setAttribute('download', '考勤报表.xlsx');
                        document.body.appendChild(link);
                        link.click();
                        $(link).remove();
                        checkArr = [];
                    }
                } else {
                    alert.error('下载失败');
                }
            };

            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                "startDate" : createTimeFrom,
                "endDate" : createTimeTo,
                "departmentIds": departIdArr,
                "position": posTxt,
                "includeColumn": postData.includeColumn
            }));

            return false;
        })

        // 重置，还原数据
        $reset.on('click', function () {
            $searchForm[0].reset();
            treeSelect.revokeNode('attendept');
            createTimeTo = null;
            createTimeFrom = null;
            tableData = [];
            $("#position").empty("");
            tableIns.reload({cols: [colData], data: tableData});
            form.render();
        });
    })
</script>

<style>
    .pos-item .layui-form-label{
        padding-left: 0px;
    }
    .pos-btns{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 15px;
    }
    .adv-info{
        padding-left: 15px;
    }
</style>